<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-900 Practice Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>AI-900 Practice Quiz</h1>
    <div id="quiz-container"></div>
    <div class="button-container">
        <button id="load-button" type="button" onclick="loadBatch()">Load Next Question Batch</button>
    </div>
</body>
<footer>© 2025 AI-900 Practice Quiz by C.Landry</footer>
</html>
